body {
    margin: 0 auto;
    padding: 0;
    width: 500px;
    height: 500px;
}
main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

form{
    display: grid;
    height: 40px;
    gap: 5px;
    grid-template-columns: repeat(9,1fr);
    width: 500px;
}

#seed-color{
    height: 40px;
    display: grid;
    grid-column: 1;
    border: 1px solid #D1D5DB;
    border-radius: 1px;
}
#scheme-options{
    height: 40px;
    line-height: 30px;
    display: grid;
    grid-column: 2/8;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    color: #374151;
    
}
/* dropdown arrow */
select,
::picker(select) {
  appearance:base-select;
}

select::picker-icon {
  color: #999999; /* Change the arrow color here */
  transition: 0.4s rotate; /* Optional: for smooth rotation on open */
}


#get-scheme{
    height: 40px;
    line-height: 35px;
    font-size: 12px;
    display: grid;
    grid-column: 8/10;
    vertical-align: middle;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    color: #374151;
}

#scheme-colors{
    padding: 10px 0;
    display: flex;
    max-height: 350px;
    
}
.scheme-color{
    height: 350px;
    min-width: 100px;
    max-width: 100px;
}

.hex-names {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    height: 40px;
    padding: 5px 0px;
    color: #374151;
    width: 500px;  
}
.flex {
    display: flex;
}